@{
    ViewData["Title"] = "Home Page";
}

<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-red rounded shadow-sm">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">You have selected TNT option</h1>
    </div>
  </div>

</main>

