pydantic==2.11.3
openai==1.75.0
openapi-pydantic==0.5.1
openapi-schema-pydantic==1.2.4
regex>=2023.12.25
Jinja2>=3.1.6
azure-identity==1.21.0
dapr>=1.15.0
dapr-ext-fastapi==1.15.0
dapr-ext-workflow==1.15.0
colorama==0.4.6
cloudevents==1.11.0
pyyaml==6.0.2
rich==13.9.4
huggingface_hub==0.30.2
numpy==2.2.2
mcp==1.7.1
opentelemetry-distro==0.53b1
opentelemetry-exporter-otlp==1.32.1
opentelemetry-instrumentation-requests==0.53b1
dapr-agents>=0.5.0
Flask
cloudevents
uvicorn
typing-extensions
chainlit
psycopg
psycopg[binary]