@{
    ViewData["Title"] = "Home Page";
}

<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">Welcome, DotNetConf 2023 - Poll</h1>
      <small>Modernizing your applications .NET with containers and serverless</small>
    </div>
  </div>

  <div class="row g-5 align-items-center justify-content-center">
    <div class="col-md-6">
        <div class="d-flex align-items-center p-3 my-3 text-white bg-red rounded shadow-sm">
            <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1 text-center" style="font-size: 32px;">Choose the option to create a new TNT</h1>
            </div>
        </div>
        <img src="~/img/blue-qr.png" alt="blue-qr" class="center" width="400" height="400">
    </div>
    @* <div class="col-md-6">
        <div class="d-flex align-items-center p-3 my-3 text-white bg-green rounded shadow-sm">
            <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Choose the option to create a new Tree</h1>
            </div>
        </div>
        <img src="~/img/red-qr.png" alt="red-qr" class="center" width="400" height="400">
    </div> *@
  </div>

</main>

